.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}

.calendarSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 2vh;
}

.weekcell_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
